html,body
{
	margin:0px !important;
	padding: 0px;
	overflow: auto;
}

.wrap
{
	padding:0px 20px 0px 20px;
}

.tree-wrapper
{
	border:1px solid #ccc;
	padding:5px 20px 0px 20px;
	margin-bottom: 20px;
	overflow: auto;
	display: block;
}

.tree-wrapper ul {
	list-style: none;
}

li.root img
{
	margin-left: -7px;
}

li.root > a,
ul.tree a
{
	text-decoration: none;
	color:#333;
	padding:2px 3px 2px 3px;
	margin-left: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px; 
	border-radius: 3px; 
	font-weight: normal;
}

li.root > a
{
	display: inline-block;
}

li.root > a:hover,
ul.tree a:hover
{
	color:black;
	background-color: #ccc;
}

li.root a.selected,
ul.tree a.selected
{
	background-color: #333;
	color:#fff;
}


ul.tree, ul.tree ul {
   list-style-type: none;
   background: url(../img/vline.png) repeat-y;
   margin: 0;
   padding: 0;
}
   
ul.tree ul {
   margin-left: 10px;
}


ul.tree li {
   margin: 0;
   padding: 0 12px;
   line-height: 20px;
   background: url(../img/node.png) no-repeat;
   background-position: top left;
   color: #369;
   font-weight: bold;
}

ul.tree li.last,
ul.tree li:last-child {
  background: #fff url(../img/lastnode.png) no-repeat;
}

ul.tree li img
{
	position: relative;
	top:-2px;
	margin: 0px 0px 0px 2px;

}

ul.tree li img.open:hover,
ul.tree li img.closed:hover
{

	cursor: hand; 
	cursor: pointer;
}

li.root li {
	padding-top: 4px;
	padding-bottom: 4px;
}

.template-wrapper
{
	border:1px solid #ccc;
	padding:5px 10px 20px 10px;
	margin-bottom: 20px;
	overflow: auto;
	display: block;
}

.screenshot-wrapper
{
	text-align: center;
	width: 25%;
	margin:10px 10px 10px 10px;
	float:left;
	font-weight: bold;
	width: 128px;
}

.screenshot-wrapper a img
{
	width:118px;
	height:95px;
	margin-bottom: 5px;
}

.screenshot-wrapper a
{
	border:5px solid white;
	background-color: white;
	display: block;
	overflow: hidden;
	color:#333;
	text-decoration: none;
	font-weight: normal;
	height: auto;

}

.screenshot-wrapper a:hover
{
	border:5px solid #eee;
	background-color: #eee;
}

.screenshot-wrapper a.selected
{
	border:5px solid #ddd;
	background-color: #ddd;
	color: black;
}

.default-image-options
{
	display: inline-block;
	width: 200px;
	margin-right:10px;
	margin-bottom: 10px;
	border:1px solid #ccc;
	padding:10px;
	text-align: center;
}

.default-image-options h3 
{
	height: 40px;
}

.default-image-options img
{
	margin-bottom: 20px;
	clear:both;
}

.default-image-options input[type=button]
{
	clear:both;
}

.default-image-options .additional-options
{
	padding:20px 20px 10px 20px;
}

.default-image-options .additional-options label
{
	clear:both;
	display: block; 
}

.default-image-options .additional-options input[type=checkbox]
{
	margin-right:5px;
}